{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es2018": true
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["prettier", "eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "single"],
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2, {
      "SwitchCase": 1,
      "flatTernaryExpressions": false,
      "ignoredNodes": ["TSTypeParameterInstantiation"]
    }],
    "semi": "off",
    "@typescript-eslint/semi": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "no-irregular-whitespace": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "one-var": ["error", "never"],
    "no-cond-assign": ["error", "except-parens"],
    "comma-dangle": ["error", "never"],
    "eqeqeq": ["error", "always"],
    "eol-last": ["error", "always"],
    "new-parens": ["error", "always"],
    "no-caller": ["error"],
    "no-constant-condition": ["error"],
    "no-control-regex": ["error"],
    "no-debugger": ["error"],
    "no-duplicate-case": ["error"],
    "no-eval": ["error"],
    "no-ex-assign": ["error"],
    "no-extra-boolean-cast": ["error"],
    "no-fallthrough": ["error"],
    "no-inner-declarations": ["error"],
    "no-invalid-regexp": ["error", { "allowConstructorFlags": ["u", "y"] }],
    "no-unused-labels": ["error"],
    "no-proto": ["error"],
    "no-redeclare": ["error"],
    "no-shadow": ["off"],
    "@typescript-eslint/no-shadow": "error",
    "no-regex-spaces": ["error"],
    "no-self-compare": ["error"],
    "no-sparse-arrays": ["error"],
    "no-mixed-spaces-and-tabs": ["error"],
    "no-negated-in-lhs": ["error"],
    "no-new-wrappers": ["error"],
    "no-self-assign": ["error"],
    "no-this-before-super": ["error"],
    "no-with": ["error"],
    "rest-spread-spacing": ["error", "never"],
    "no-trailing-spaces": ["error", { "ignoreComments": true }],
    "no-undef-init": ["error"],
    "no-unsafe-finally": ["error"],
    "padded-blocks": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "use-isnan": ["error"],
    "valid-typeof": ["error", { "requireStringLiterals": true }],
    "brace-style": ["error", "1tbs"],
    "curly": ["error", "all"],
    "handle-callback-err": ["error", "^(err|error)$"],
    "max-len": ["error", {
      "code": 120,
      "comments": 120,
      "ignoreUrls": true,
      "ignoreTemplateLiterals": true
    }],
    "@typescript-eslint/no-var-requires": "never"
  }
}
